body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}

/* Typography */

h1,
h2,
h3 {
  font-family: "Cinzel Decorative", serif;
  margin: 0;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.1rem;
  color: #3f4a68;
  margin-bottom: 0.278em; /* 5px */
}

h3 {
  font-size: 1rem;
  margin: 0.313em 0; /* 5px */
  color: #3f4a68;
}

p {
  margin: 0;
  line-height: 1.5;
  font-size: 0.9rem;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header */

header {
  text-align: center;
  padding-top: 0.934em; /* 15px */
}

.sub-heading {
  font-size: 0.8rem;
  color: #d9a5b3;
}

/* Navigation */

nav {
  padding: 0.934em 0; /* 15px */
}

nav a {
  font-size: 0.95rem;
  color: #afc1d6;
}

nav li {
  padding: 0.313em 0; /* 5px */
}
nav ul {
  padding: 0 1.875em; /* 30px */
}

nav li:not(:last-child) {
  border-bottom: 1px dotted #d9a5b3;
}

/* Section */

header,
footer {
  background-color: #3f4a68;
  color: #afc1d6;
}

main {
  padding: 1.25em 0.938em; /* 20px 15px */
}

.marvels ul,
.amenities ul {
  font-size: 0.813rem; /* 13px */
  padding-left: 0.769em; /* 10px */
  line-height: 1.5;
}

/* Images */

.introduction-img {
  margin: 0.625em 0; /* 10px */
  width: 100%;
  border-radius: 3px;
}

img {
  display: block;
  width: 50%;
}

/* Links */

.link-btn {
  display: block;
  background-color: #3f4a68;
  color: #d9a5b3;
  width: 100%;
  margin: 0.833em 0; /* 10px */
  padding: 0.833em 0; /* 10px */
  border-radius: 3px;
  text-align: center;
  font-family: "Cinzel Decorative", serif;
  font-weight: bold;
  font-size: 0.75rem; /* 12px */
}

.link-btn:hover {
  background-color: #d9a5b3;
  color: #3f4a68;
}
