body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}

/* Typography */

h1,
h2,
h3 {
  font-family: "Cinzel Decorative", serif;
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header */

header {
  text-align: center;
  padding-top: 0.934em; /* 15px */
}

h1 {
  font-size: 1.4rem;
}

.sub-heading {
  font-size: 0.8rem;
  color: #d9a5b3;
}

/* Navigation */

nav {
  padding: 0.934em 0; /* 15px */
}

nav a {
  font-size: 0.95rem;
  color: #afc1d6;
}

nav li {
  padding: 0.313em 0; /* 5px */
}
nav ul {
  padding: 0 1.875em; /* 30px */
}

nav li:not(:last-child) {
  border-bottom: 1px dotted #d9a5b3;
}

/* Section */

header,
footer {
  background-color: #3f4a68;
  color: #afc1d6;
}

main {
  padding: 20px 15px;
}

/* Images */

.introduction-img {
  /* display: block; */
  width: 100%;
}

img {
  display: block;
  width: 48%;
}
